<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                       http://cxf.apache.org/jaxws
                       http://cxf.apache.org/schemas/jaxws.xsd">

    <!-- cxf 3.0 以后版本 不需要手动引入  -->
     <import resource="classpath:META-INF/cxf/cxf.xml" />
    <bean id="workflowService" class="com.ztj.wood.workflow.service.impl.WoodWorkflowServiceImpl"/>
    <jaxws:server address="/outer/workflow/wfService">
    	<jaxws:serviceBean>
    		<ref bean="workflowService"/>
    	</jaxws:serviceBean>
    </jaxws:server>

   
</beans>