<!DOCTYPE HTML>
<html>
 <head>
  	<link rel="shortcut icon" href="${rc.contextPath}/favicon.ico" type="image/x-icon"/>
  	<title>后台管理系统</title>
   	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   	<link href="${rc.contextPath}/bui/common/css/dpl-min.css" rel="stylesheet" type="text/css" />
   	<link href="${rc.contextPath}/bui/common/css/bui-min.css" rel="stylesheet" type="text/css" />
   	<link href="${rc.contextPath}/bui/common/css/main-min.css" rel="stylesheet" type="text/css" />
   	<style type="text/css">
   		.bui-dialog .bui-stdmod-body {
		    background-color: #fff;
		    border: 1px solid #c3c3d6;
		    margin: 0 0px;
		    padding: 0px;
		}
   	</style>
</head>
<body>
  <div class="header">
  	<div class="dl-title">
        <span class="lp-title-port"></span><span class="dl-title-text">后台管理系统--之系统安全审计管理</span>
    </div>
    <div class="dl-log">
    	<span id="systemTime" style="color:red;"></span>&nbsp;&nbsp;
    	欢迎您，<span class="dl-log-user">$session.getAttribute("userName")</span>！
    	<a href="javascript:void(0)" onclick="changeMePWD()" title="修改密码" class="dl-log-quit">[修改密码]</a>
    	<a href="javascript:void(0)" onclick="logout()" title="退出系统" class="dl-log-quit">[退出]</a>
    </div>
  </div>
   <div class="content">
    <div class="dl-main-nav">
      <ul id="J_Nav"  class="nav-list ks-clear">
        <li class="nav-item dl-selected"><div class="nav-item-inner nav-home">审计管理</div></li>
        <li class="nav-item"><div class="nav-item-inner nav-order">安全管理</div></li>
        <!-- <li class="nav-item"><div class="nav-item-inner nav-inventory">权限资源管理</div></li>
        <li class="nav-item"><div class="nav-item-inner nav-supplier">系统设置管理</div></li>
        <li class="nav-item"><div class="nav-item-inner nav-marketing">审核管理</div></li>
        <li class="nav-item"><div class="nav-item-inner nav-marketing">管理模块</div></li>
        <li class="nav-item"><div class="nav-item-inner nav-marketing">Rest示例</div></li> -->
      </ul>
    </div>
    <ul id="J_NavContent" class="dl-tab-conten">

    </ul>
   </div>
   <div id="changePWD" class="hide">
    <iframe src="" id="userPWDChange" name="userPWDChange" frameBorder="0" width="100%" scrolling="no" height="100%"></iframe>
   </div>
</body>
<script type="text/javascript" src="${rc.contextPath}/bui/common/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="${rc.contextPath}/bui/common/bui.js"></script>
<script type="text/javascript" src="${rc.contextPath}/bui/common/config.js"></script>
<script type="text/javascript" src="${rc.contextPath}/bui/common/main-min.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/qms-common.js"></script>
<script>
	var timer;
	$(function(){
		$("#systemTime").html(getSystemTime());
		timer = setInterval(function(){
			$("#systemTime").html(getSystemTime());
		},100);
	});
	
	function logout(){
		window.clearInterval(timer);
		window.location.href = "${rc.contextPath}/user/logout";
	}
	
	var changePWD;
	BUI.use('common/main',function(){
		var config = [{
			id:'auditMng_auditor',
			homePage : 'secadminLogAudit',
			menu:[{
				text:'日志审计管理',
				items:[
					{id:'secadminLogAudit',text:'保密员日志审计',href:'${rc.contextPath}/log/secadmin/index'},
					{id:'sysadminLogAudit',text:'管理员日志审计',href:'${rc.contextPath}/log/sysadmin/index'}
				]
           	}]
		},{
			id:'secMng_auditor',
			homePage:'pwdReset_auditadmin',
			menu:[{
				text:'用户安全管理',
				items:[
					{id:'pwdReset_auditadmin',text:'备岗密码重置/解锁',href:'${rc.contextPath}/pwdReset/auditadmin'}
				]
			}]
		}];
		changePWD = new BUI.Overlay.Dialog({
    		title:'密码变更',
    		width:880,
    		height:500,
        	contentId : 'changePWD',
        	autoSave : true, 
        	buttons:[
                      {
                        text:'关闭',
                        elCls : 'button',
                        handler : function(){
                          this.close();
                        }
                      }
              ]
      	});
		new PageUtil.MainPage({
			modulesConfig : config
		});
	});
	
	function changeMePWD(){
		$('#userPWDChange').attr('src','${rc.contextPath}/framework/changepwd');
		changePWD.show();
	}
</script>
</html>