<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>用户密码重置</title>
  <link href="${rc.contextPath}/bui/common/css/dpl-min.css" rel="stylesheet" type="text/css" />
  <link href="${rc.contextPath}/bui/common/css/bui-min.css" rel="stylesheet" type="text/css" />
  <link href="${rc.contextPath}/bui/common/css/page-min.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="${rc.contextPath}/bui/common/jquery-1.8.1.min.js"></script>
  <script type="text/javascript" src="${rc.contextPath}/bui/common/bui-min.js"></script>
  <script type="text/javascript" src="${rc.contextPath}/bui/common/config-min.js"></script>
  <script type="text/javascript" src="${rc.contextPath}/bui/common/search-min.js"></script>
	<script type="text/javascript" src="${rc.contextPath}/js/wood-bui-common.js"></script>
  <style type="text/css">
  	.form-horizontal .control-label {
	    width:75px;
	}
	.span8 {
	    width:290px;
	}
	.span9{
		width:200px;
		height:35px;
	}
	.span10{
		width:400px;
		height:35px;
	}
	.span11{
		width:500px;
		height:35px;
	}
	[class*="span"] {
	    float:left;
	    margin-left:10px;
	}
	.row {
	    margin-left: 0px;
	    
	}
	.span13 {
	    width:auto;
	    padding-left:42%;
	}
	.span9 span{
		color: blue;
	}
  </style>
</head>
<body>
	<div class="row">
		<form id="searchForm" class="form-horizontal">
			<br>
	        <div class="row">
	          	<div class="control-group span8">
	            	<label class="control-label">用户账号：</label>
	            	<div class="controls">
	              		<input type="text" class="control-text" id="code1" name="code">
	            	</div>
	          	</div>
	          	<div class="control-group span8">
	            	<label class="control-label">人员名称：</label>
	            	<div class="controls">
	              		<input type="text" class="control-text" id="name1" name="name">
	            	</div>
	          	</div>
	          	<div class="span13 offset2">
	            	<button  type="button" id="btnSearch" class="button button-primary">搜索</button>
	            	<button type="reset" class="button">重置</button>
	          	</div>
	        </div>
      	</form>
    </div>
    
    <div class="search-grid-container">
      	<div id="grid"></div>
    </div>
</body>
<script type="text/javascript">

	var form = new BUI.Form.Form({
		srcNode : '#J_Form'
	}).render();
	
var result = {};
	
	function getSecShow(sec){
		if(result[sec]==""||result[sec]==null){
			return "未知"
		}else{
			return result[sec];
		}
	}
	
	$(function(){
		getInitSelectData();
	})
	
	/* 动态获取密级数据 */
	function getInitSelectData(){
		$.ajax({  
		    type:"GET",  
		    url:"${rc.contextPath}/secc/secNameUser",  
		    dataType:"json",  
		    success:function(data){
		    	$("<option value='0'>无</option>").appendTo("#sec");
		    	result[0] = '无';
		    	 if(data != null && data.length > 0){
		            for(var i = 0; i< data.length; i++){  
		                $("<option value='"+data[i].secId+"'>"+data[i].secNameuser+"</option>").appendTo("#sec");  
		                var demo = data[i].secId;   
		                result[demo]=data[i].secNameuser;             
		            }
		        }
		    },  
		});
	}

	//插件初始化
	BUI.use('common/search',function (Search) {
    	var editing = new BUI.Overlay.Dialog({
    		title:'人员详细信息',
    		width:700,
    		height:450,
        	contentId : 'content', //设置隐藏的Dialog内容
        	autoSave : true, //添加数据或者修改数据时，自动保存
        	buttons:[
                      {
                        text:'关闭',
                        elCls : 'button',
                        handler : function(){
                          this.close();
                        }
                      }
              ]
      	}),
      	//表格的行
      	columns = [
			{title:'主键ID',dataIndex:'empid',visible:false,width:0},
          	{title:'用户账号',dataIndex:'code',width:80},
          	{title:'中文名',dataIndex:'name',width:40},
          	{title:'密级',dataIndex:'sec',width:35,renderer:function(value){
          		return getSecShow(value);
          	}},
          	{title:'性别',dataIndex:'sex',width:35,renderer:function(value){
          		if( value == 0){
	          		return '男';
	          	}else {
	          		return '女';
	          	}
            }},
            {title:'主职机构',dataIndex:'orgname',width:270},
          	{title:'电子邮箱',dataIndex:'email',width:180},
          	{title:'手机号',dataIndex:'mobileno',width:120},
          	{title:'状态',dataIndex:'status',width:40,renderer:function(value){
          		if(value==null||value==""){
	          		return '正常';
	          	}else if(value=="n"){
	          		return '锁定';
	          	}else{
	          		return '';
	          	}
            }}
        ],
        //搜索的项
        searchURL = '${rc.contextPath}/pwdReset/query/user',
      	store = Search.createStore(searchURL,{
        	proxy:{
          		save:{//也可以是一个字符串，那么增删改，都会往那么路径提交数据，同时附加参数saveType
            		
          		},
          		autoLoad:true,
          		method:'POST',
          		dataType:'json',
          		data:'',
          		contentType:"application/json"
        	},
        	pageSize:10,
        	autoSync:true //保存数据后，自动更新
      	}),
      	
      	gridCfg = Search.createGridCfg(columns,{
      		forceFit:true,
        	tbar:{
          		items:[
				{
				    btnCls : 'button button-small',
				    text : '<i class="icon-retweet"></i>用户密码重置',
				    listeners : {
				      'click' : resetPwd
				    }
				}/* ,{
				    btnCls : 'button button-small',
				    text : '<i class="icon-retweet"></i>备岗密码重置',
				    listeners : {
				      'click' : resetBGPwd
				    }
				} */]
        	},
        	plugins : [BUI.Grid.Plugins.CheckSelection,BUI.Grid.Plugins.AutoFit] // 插件形式引入多选表格
      	});
        
    	var  search = new Search({
        	store : store,
        	gridCfg : gridCfg
      	}),
      	grid = search.get('grid');
    	
    	function resetBGPwd(){
    		var currData = {type:'sanyuan',empids:[{empid:'$!{beigangID}'}]};
    		$.ajax({
                url: "${rc.contextPath}/pwdReset/reset",
                data: JSON.stringify(currData),
                type: 'post',
                cache: false,
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    if(data=="ok"){
                    	BUI.Message.Alert("重置成功");
                    	$("#btnSearch").click();
                    }else{
                    	BUI.Message.Alert("重置失败");
                    }
                },
                error:function(XMLHttpRequest,textStatus,errorThrown){
                    var errorObj = {
                        status:XMLHttpRequest.status,
                        readyState:XMLHttpRequest.readyState,
                        msg:textStatus
                    };
                }
            });
    	}
    	
    	function resetPwd(){
    		var selections = grid.getSelection();
      		if(selections==""){
      			BUI.Message.Alert("请选择至少一条记录");
      		}else{
      			var currData = {type:'user',empids:[]};
      			var empids = [];
          		BUI.each(selections,function(item){
          			empids.push({empid:item.code});
          		});
          		currData.empids = empids;
          		$.ajax({
                    url: "${rc.contextPath}/pwdReset/reset",
                    data: JSON.stringify(currData),
                    type: 'post',
                    cache: false,
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        if(data=="ok"){
                        	BUI.Message.Alert("重置成功");
                        	$("#btnSearch").click();
                        }else{
                        	BUI.Message.Alert("重置失败");
                        }
                    },
                    error:function(XMLHttpRequest,textStatus,errorThrown){
                        var errorObj = {
                            status:XMLHttpRequest.status,
                            readyState:XMLHttpRequest.readyState,
                            msg:textStatus
                        };
                    }
                });
      		}
    	}
    	
    	/*监听输入框的回车操作*/  
	 	$('#code1,#name1').bind('keypress',function(event){  
	 	    if(event.keyCode == "13") 
	 	    	$('#btnSearch').click();
	 	});

	 	resizeMe();
	});
</script>
</html>