<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>机构部门转换</title>
  <link href="${rc.contextPath}/bui/common/css/dpl-min.css" rel="stylesheet" type="text/css" />
  <link href="${rc.contextPath}/bui/common/css/bui-min.css" rel="stylesheet" type="text/css" />
  <link href="${rc.contextPath}/bui/common/css/page-min.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="${rc.contextPath}/bui/common/jquery-1.8.1.min.js"></script>
  <script type="text/javascript" src="${rc.contextPath}/bui/common/bui-min.js"></script>
  <script type="text/javascript" src="${rc.contextPath}/bui/common/config-min.js"></script>
  <script type="text/javascript" src="${rc.contextPath}/bui/common/search-min.js"></script>
</head>
<style>
	html,body{
		width:`100%;
		height:100%;
	}
	*{
		margin:0;
		padding:0;
	}
    .bui-tree-list{
      overflow: auto;
    }
    .span8{
    	margin-left: 10px;
    	float:left;
    	width:48%;
    }
</style>
<body>
      <div class="span8">
      	<label>请选择需要移动的组织机构:</label>
        <div id="t1"></div>
      </div>
	<div class="span8">
		<label>请选择需要移动到的组织机构:</label>
      <div id="t2"></div>
      </div> 
<script type="text/javascript">
	//定义两个全局变量
	var item = "";
	var item1 = "";
	
  BUI.use(['bui/tree','bui/data','bui/mask'],function (Tree,Data,Mask) {
      //数据缓冲类
      var orgTreeStore = new Data.TreeStore({
              root : {
                  id : '-1',
                  text : '组织机构'
              },
              pidField : 'pid',
              url : '${rc.contextPath}/org/op/getSons',
              autoLoad : true,
              dataType:'json',
              contentType:"application/json"
          }),
          orgTreeStore2 = new Data.TreeStore({
              root : {
                  id : '-1',
                  text : '组织机构'
              },
              pidField : 'pid',
              url : '${rc.contextPath}/org/op/getSons',
              autoLoad : true,
              dataType:'json',
              contentType:"application/json"
          }),
        
      tree = new Tree.TreeList({
        render : '#t1',
        showLine : true,
        showRoot : true,
        height:380,
        store : orgTreeStore
      });
      
      tree2 = new Tree.TreeList({
          render : '#t2',
          showLine : true,
          showRoot : true,
          height:380,
          store : orgTreeStore2
        });
      
      tree.render();
      tree2.render();
      
      tree.on('itemclick',function(ev){
    	  item = ev.item;
      })
      
      tree2.on('itemclick',function(ev){
    	  item1 = ev.item;
      })
    });
  
	  function test(){
		  if(item==""||item1==""){
			  BUI.Message.Alert("请选择移动的部门节点");
		  }else{
			  //先取出需要移动的部门的id
			  var oldId = item.id;
			  //这是移动到的部门的id
			  var newId = item1.id;
			  
			  if(oldId == newId){
				  BUI.Message.Alert('相同部门不能进行转换！');
			  }else{
				  
				  //模糊获取所有应有的ID值
				  $.ajax({
							url : '${rc.contextPath}/org/op/checkMoveSon',
			              	dataType : 'json',
			              	contentType : 'application/json',
			              	type : 'get',
			              	data : {oldId:oldId},
			                success : function(data){
			                	var dataObj1 = eval("("+data+")");
			                	var sign = 0;
			                	for(var i=0;i<dataObj1.length;i++){
			                		if(dataObj1[i]==newId){
			                			sign = 1;
			                			break;
			                		}
			                	}
			                	if(sign == 1){
			                		BUI.Message.Alert('不能直接移动到子部门下，请您先移动您的目标子部门到主部门下');
			                	}else{
			                		BUI.Message.Confirm('确认要移动选中的部门么？',function(){
			      					  $.ajax({
			      							url : '${rc.contextPath}/org/op/moveOrg',
			      			              	dataType : 'json',
			      			              	contentType : 'application/json',
			      			              	type : 'post',
			      			              	data : JSON.stringify({oldId:oldId,newId:newId}),
			      			                success : function(data){
			      			                	if(data=="success"){ 
			      			                  	   		BUI.Message.Alert('移动成功！',function(){
			      			                  	   			parent.parent.location.reload();
			      			                  	        },'info');
			      			                        }else{
			      			                            BUI.Message.Alert('移动失败！');
			      			                       	}
			      			                 }
			      			        });
			      				  },'question');
			                	}
			                 }
			        });
				  
			  }
	  }}
    </script>
</body>
</html>