.layout-split-btn-v,.layout-split-btn-h{background-color:#287fe7;}
.tabs-header{height:25px;border-width:0 1px;border-color:#aaa;padding:0;}
.tabs,.tabs li{padding-left:0;}
.tabs,.panel-header{height:26px;background:url(img/newTabsBg.png) repeat-x right 0;padding:0;}
.tabs li{margin:0;}
.tabs li.tabs-selected{margin-left:-1px;position:relative;}
.tabs li a.tabs-inner,.tabs li.tabs-disabled a.tabs-inner:hover{width:119px;height:25px;line-height:24px;background:url(img/newTabs.png) no-repeat right 0;padding:0 5px;margin:0;}
.panel-header .panel-title{height:25px;line-height:24px;text-align:left;padding:0 0 0 10px;}
.tabs li a.tabs-inner:hover{background:url(img/newTabs.png) no-repeat right -25px;}
.tabs li.tabs-selected a.tabs-inner,.tabs li.tabs-selected a.tabs-inner:hover{background:url(img/newTabs.png) no-repeat right -50px;border:none;overflow:hidden;}
.tabs li a.tabs-close{background:url(img/tabs_icons.png) no-repeat -34px center;top:6px;margin:0;}
.tabs li a.tabs-close:hover{background:url(img/tabs_icons.png) no-repeat -34px center;}
.tabs li a.tabs-inner .tabs-title{display:inline-block;zoom:1;width:100px;white-space:nowrap;-o-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden;}
.tabs li.tabs-selected a.tabs-inner .tabs-title{line-height:28px;}
.more-tabs .tabs-header{border:none;}
.more-tabs li a.tabs-inner .tabs-title{width:auto;padding:0 10px;}
.more-tabs li a.tabs-inner,.more-tabs li.tabs-disabled a.tabs-inner:hover{width:auto;}
.more-tabs li.tabs-selected a.tabs-inner,.more-tabs li.tabs-selected a.tabs-inner:hover{border-left:1px solid #287fe7;}
.tabs-handler-ontop{background:none;}
.tabs-header-nobg li.tabs-selected a.tabs-inner:hover{background:none;}
.tabs-header-nobg li a.tabs-inner .tabs-title{text-align:left;text-indent:10px;color:#555;}
.tabs-panels{border:1px solid #aaa;border-top-width:0;}
.noborder .tabs-panels{border:none;}
.tabs-scroller-left,.tabs-scroller-right{height:23px !important;border:1px solid #aaa;border-bottom-color:#287fe7;z-index:100;}
.tabs-scroller-left{border-left:none;}
.tabs-scroller-right{border-right:none;}
.notools .datagrid-header,.notools .datagrid-header-row .datagrid-td-rownumber,.notools .datagrid-header-row td{background-position:0 -1px;}
.tabs-tool{border:0;background:url(img/newTabsBg.png) repeat-x right 0;}
.tabs-tool a,.tabs-tool a:hover{text-decoration:none;margin-top:2px;}
.layout-expand-west .panel-tool{width:5px;height:100px;left:0;margin:-50px 0 0;}
.layout-expand-west .panel-tool a{display:block;width:5px;height:100px;text-indent:1000px;white-space:nowrap;background:#287fe7 url(img/layout_split_arrow_h.png) no-repeat -5px center;padding:0;margin:0;opacity:1;filter:alpha(opacity=100);overflow:hidden;}
.combo .combo-text{background:#f0f6fd;}
.datagrid-toolbar .easyui-linkbutton, .datagrid-toolbar .icon-separator, .datagrid-toolbar .toolbar-item{margin-right:0;}
.window .window-header .panel-icon{left:6px;}
