<!-- ${rc.contextPath}/process/running-list.html -->
<!DOCTYPE HTML>
<html>
 <head>
  <title> 搜索表单</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <link href="${rc.contextPath}/bui/common/css/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="${rc.contextPath}/bui/common/css/bui-min.css" rel="stylesheet" type="text/css" />
    <link href="${rc.contextPath}/bui/common/css/page-min.css" rel="stylesheet" type="text/css" />   <!-- 下面的样式，仅是为了显示代码，而不应该在项目中使用-->
   <link href="${rc.contextPath}/bui/common/css/prettify.css" rel="stylesheet" type="text/css" />
   <style type="text/css">
    code {
      padding: 0px 4px;
      color: #d14;
      background-color: #f7f7f9;
      border: 1px solid #e1e1e8;
    }
   </style>
 </head>
 <body>
  
  <div class="container">
    <div class="search-grid-container">
      <div id="grid"></div>
    </div>
  </div>
  <script type="text/javascript" src="${rc.contextPath}/bui/common/jquery-1.8.1.min.js"></script>
  <script type="text/javascript" src="${rc.contextPath}/bui/common/bui-min.js"></script>
  <script type="text/javascript" src="${rc.contextPath}/bui/common/config-min.js"></script>
  <script type="text/javascript" src="${rc.contextPath}/bui/common/search-min.js"></script>
  <script type="text/javascript" src="${rc.contextPath}/bui/common/page.js"></script>
  
<script type="text/javascript">
  BUI.use('common/search',function (Search) {
    
    var columns = [
          {title:'执行ID',dataIndex:'_id',width:'15%'},
          {title:'流程实例ID',dataIndex:'_processInstanceId',width:'15%'},
          {title:'流程定义ID',dataIndex:'_processDefinitionId',width:'15%'},
          {title:'当前节点',dataIndex:'_activityName',width:'25%',renderer:function(v,obj){
              return Search.createLink({
                  id : 'imgShow_' + v,
                  title : '图片',
                  text : v,
                  href : '${rc.contextPath}/process/resource/read?processDefinitionId='+obj._processDefinitionId+'&resourceType=image'
                });
              }},
          {title:'是否挂起',dataIndex:'_suspendedState',width:'10%'}
        ],
      store = Search.createStore('${rc.contextPath}/form/formkey/process-instance/running/list',{
        proxy:{
          autoLoad:true,
          //method:'POST',
          dataType:'json',
          contentType:"application/json"
        },
        pageSize : 5,	// 配置分页数目
        autoSync:true //保存数据后，自动更新
      }),
   
       gridCfg = Search.createGridCfg(columns,{

      });
       

    var  search = new Search({
        store : store,
        gridCfg : gridCfg,
        bbar:{
            // pagingBar:表明包含分页栏
            pagingBar:true
        }
      }),
      grid = search.get('grid');


  });
</script>

<body>
</html>  
